.pokedex-info-line {
    display: flex;
    flex-direction: row;
    margin-bottom: $padding / 2;
    text-align-last: left;

    &.pokedex-info-line--block {
        flex-direction: column;
    }

    .pokedex-info-line__property {
        padding-right: $padding / 2;
    }
    .pokedex-info-line__value {
        display: flex;
        flex-direction: row;
    }

    &.pokedex-info-line--block .pokedex-info-line__value {
        flex-direction: column;
    }

    .pokedex-info-ability {
        margin-left: $padding * 2;
    }

    .pokedex-info-type {
        border: $outline;
        border-radius: 2px;
        box-shadow: $threed-box-shadow-mini;
        font-size: 9px;
        letter-spacing: -1px;
        line-height: 1em;
        margin: -3px 2px 0 2px;
        padding: 4px 4px 2px 4px;
        vertical-align: middle;

        &.pokedex-info-type--normal {
            background-color: #A8A878;
        }
        &.pokedex-info-type--fighting {
            background-color: #C03028;
        }
        &.pokedex-info-type--fire {
            background-color: #F08030;
        }
        &.pokedex-info-type--water {
            background-color: #6890F0;
        }
        &.pokedex-info-type--flying {
            background-color: #A890F0;
        }
        &.pokedex-info-type--grass {
            background-color: #78C850;
        }
        &.pokedex-info-type--poison {
            background-color: #A040A0;
        }
        &.pokedex-info-type--electric {
            background-color: #F8D030;
        }
        &.pokedex-info-type--ground {
            background-color: #E0C068;
        }
        &.pokedex-info-type--psychic {
            background-color: #F85888;
        }
        &.pokedex-info-type--rock {
            background-color: #B8A038;
        }
        &.pokedex-info-type--ice {
            background-color: #98D8D8;
        }
        &.pokedex-info-type--bug {
            background-color: #A8B820;
        }
        &.pokedex-info-type--dragon {
            background-color: #7038F8;
        }
        &.pokedex-info-type--ghost {
            background-color: #705898;
        }
        &.pokedex-info-type--dark {
            background-color: #705848;
        }
        &.pokedex-info-type--steel {
            background-color: #B8B8D0;
        }
        &.pokedex-info-type--fairy {
            background-color: #EE99AC;
        }
    }
}
.pokedex-info-stat {
    margin-bottom: $padding;
}

.pokedex-info-stat__value {
    position: relative;
    padding: 2px $padding / 2;
    border: 1px solid rgba(10, 10, 10, 0.12);

    span {
        position: relative;
        top: 2px;
        z-index: 1;
    }
}

.pokedex-info-stat__value-bar {
    background: rgba(10, 10, 10, 0.12);
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 0;
}