.pokedex-wrapper {
    position: relative;

    &:after {
        content: "";
        background-image: url('../images/eevee.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0px;
        display: block;
        height: 260px;
        left: 24px;
        position: absolute;
        width: 224px;
        z-index: 0;

        transition: transform 6s ease-in 1s;
        transform: translate3d(0, 0, 0);
    }
}

#app:not(.loaded) .pokedex-wrapper:after {
    transform: translate3d(0, 0, 0);
}
#app.loaded .pokedex-wrapper:after {
    transform: translate3d(0, 140px, 0);
}

.pokedex {
    background-color: $pokedex-background-color;
    border: $outline;
    border-radius: $border-radius;
    box-shadow: $threed-box-shadow;
    padding: $padding;
    position: relative;
    z-index: 1;
}

.pokedex-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $padding;
}

.pokedex-header__lights {

}

.light-main {
    background: #fff;
    border: $outline;
    border-radius: 50%;
    display: inline-block;
    padding: 4px;
    height: 38px;
    width: 38px;

    .light-main__bulb {
        background-color: #00fefa;
        border: $outline;
        border-radius: 50%;
        box-shadow: 6px 6px 4px rgba(255, 255, 255, 0.72) inset, -4px -4px 4px rgba(10, 10, 10, 0.12) inset;
        height: 28px;
        width: 28px;
    }
}

.light-small {
    border: $outline;
    border-radius: 50%;
    box-shadow: $threed-box-shadow;
    display: inline-block;
    height: 16px;
    margin-top: 2px;
    margin-left: 6px;
    vertical-align: top;
    width: 16px;

    &.light--red {
        background-color: red;
    }
    &.light--yellow {
        background-color: yellow;
    }
    &.light--green {
        background-color: lightgreen;
    }
}

.pokedex-header__title {
    h1 {
        display: inline-block;
        margin: 0 $padding / 2 0 0;
    }
}


.pokedex-inlay {
    border: $outline-light;
    border-radius: $border-radius;
    box-shadow: $threed-box-shadow-inlay;
    padding: $padding * 2;
}

.pokedex-frame {
    background-color: $pokedex-frame-background-color;
    border: $outline-light;
    border-radius: $border-radius;
    box-shadow: $threed-box-shadow;
    padding: $padding;
}

.pokedex-frame-actionbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $padding;
}

.pokedex-frame-actionbar__actions {
    text-align: left;
}

.pokedex-frame-actionbar__speaker {
    text-align: right;
    width: 40px;

    .pokedex-speaker__hole {
        background: #000;
        box-shadow: $threed-box-shadow-outer-mini;
        height: 2px;
        margin-bottom: 4px;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}



.loading {
    margin-top: 60px;
    text-align: center;
}
.loader-dots {
    display: inline-block;
    font-size: 42px;
    position: relative;

    span {
        transition: opacity 200ms ease;
    }

    @keyframes glow {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    span {
        animation-duration: 600ms;
        animation-name: glow;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        display: inline-block;
        width: 22px;

        &:nth-child(1) {
            animation-delay: 0;
        }
        &:nth-child(2) {
            animation-delay: 200ms;
        }
        &:nth-child(3) {
            animation-delay: 400ms;
        }
    }
}