
.pokedex-result-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.pokedex-result-list-error {
    padding: $padding;
    width: 100%;

    > div {
        padding: $padding;
    }
}

.pokedex-result-list-item {
    cursor: pointer;
    height: 126px;
    width: 50%;

    @media screen and (min-width: $bp-xs){
        width: 33.3333%;
    }

    @media screen and (min-width: $bp-sm){
        width: 25%;
    }

    @media screen and (min-width: $bp-md){
        width: 20%;
    }

    &:hover {
        background: rgba(10, 10, 10, 0.072);
    }

    .result-item__name {
        font-size: 10px;
        text-align: center;
    }
}

.pokedex-result-pagination {
    margin-top: $padding;
    padding: $padding 0 $padding 0;
    text-align: center;
}

.pokedex-result-pagination-button {
    background: transparent;
    cursor: pointer;
    display: inline-block;
    padding: $padding / 2 $padding;
    position: relative;

    &:before {
        content: "";
        display: inline-block;
        background: rgba(10, 10, 10, 0.42);
        padding: 4px 6px;
    }

    &:after {
        content: "";
        display: inline-block;
        height: 0;
        position: absolute;
        width: 0;
    }

    &.pokedex-result-pagination-button--next:after {
        border-top: $padding solid transparent;
        border-right: $padding solid transparent;
        border-bottom: $padding solid transparent;
        border-left: $padding solid $pokedex-screen-button-background-color;
        top: 0;
        right: -$padding
    }

    &.pokedex-result-pagination-button--prev:after {
        border-top: $padding solid transparent;
        border-right: $padding solid $pokedex-screen-button-background-color;
        border-bottom: $padding solid transparent;
        border-left: $padding solid transparent;
        top: 0;
        left: -$padding;
    }

    &.pokedex-result-pagination-button--next:hover {
        &:before {
            background-color: $pokedex-screen-button-background-color-hover;
        }
        &:after {
            border-left-color: $pokedex-screen-button-background-color-hover;
        }
    }
    &.pokedex-result-pagination-button--prev:hover {
        &:before {
            background-color: $pokedex-screen-button-background-color-hover;
        }
        &:after {
            border-right-color: $pokedex-screen-button-background-color-hover;
        }
    }

    &.pokedex-result-pagination-button--next:active,
    &.pokedex-result-pagination-button--next.active {
        &:before {
            background-color: $pokedex-screen-button-background-color-active;
        }
        &:after {
            border-left-color: $pokedex-screen-button-background-color-active;
        }
    }
    &.pokedex-result-pagination-button--prev:active,
    &.pokedex-result-pagination-button--prev.active {
        &:before {
            background-color: $pokedex-screen-button-background-color-active;
        }
        &:after {
            border-right-color: $pokedex-screen-button-background-color-active;
        }
    }
}