
.pokedex-screen {
    background-color: $pokedex-screen-background-color;
    border: $outline-light;
    box-shadow: $threed-box-shadow-mini-inlay;
    font-size: 12px;
    min-height: 216px;
    padding: $padding;

    &, p, ul, li, div, span {
        font-family: "Pokemon GB";
        line-height: 1.3;
    }

    img {
        margin-top: $padding;
        margin-bottom: $padding;
    }
}
.pokedex-screen-name {
    margin-bottom: 10px;
    text-align: center;
}
.pokedex-screen-section {
    margin-right: auto;
    margin-left: auto;
    max-width: $screen-width;
}
.pokedex-screen-subnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: $screen-width;

    .btn--screen {
        font-size: 10px;
        padding: $padding / 2;
    }
}