@charset "UTF-8";
@font-face {
  font-family: 'Pokemon Solid';
  src: url("../fonts/Pokemon Solid.ttf");
  src: url("../fonts/Pokemon Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Pokemon GB';
  src: url("../fonts/Pokemon GB.ttf");
  src: url("../fonts/Pokemon GB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'getgif';
  src: url("../fonts/getgif.eot?32106145");
  src: url("../fonts/getgif.eot?32106145#iefix") format("embedded-opentype"), url("../fonts/getgif.woff2?32106145") format("woff2"), url("../fonts/getgif.woff?32106145") format("woff"), url("../fonts/getgif.ttf?32106145") format("truetype"), url("../fonts/getgif.svg?32106145#getgif") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'getgif';
      src: url('../fonts/getgif.svg?32106145#getgif') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before,
.icon-search:before,
.icon-heart:before,
.icon-heart-empty:before,
.icon-star:before,
.icon-star-empty:before,
.icon-check:before,
.icon-link:before,
.icon-attention:before,
.icon-attention-circled:before,
.icon-trash-empty:before,
.icon-cog:before,
.icon-cog-alt:before,
.icon-list:before,
.icon-floppy:before,
.icon-cancel:before,
.icon-spin2:before,
.icon-link-ext:before,
.icon-check-empty:before,
.icon-docs:before,
.icon-menu:before,
.icon-list-bullet:before,
.icon-spinner:before,
.icon-link-ext-alt:before,
.icon-sliders:before,
.icon-trash:before {
  font-family: "getgif";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-search:before {
  content: '\e800'; }

/* '' */
.icon-heart:before {
  content: '\e801'; }

/* '' */
.icon-heart-empty:before {
  content: '\e802'; }

/* '' */
.icon-star:before {
  content: '\e803'; }

/* '' */
.icon-star-empty:before {
  content: '\e804'; }

/* '' */
.icon-check:before {
  content: '\e805'; }

/* '' */
.icon-link:before {
  content: '\e806'; }

/* '' */
.icon-attention:before {
  content: '\e807'; }

/* '' */
.icon-attention-circled:before {
  content: '\e808'; }

/* '' */
.icon-trash-empty:before {
  content: '\e809'; }

/* '' */
.icon-cog:before {
  content: '\e80a'; }

/* '' */
.icon-cog-alt:before {
  content: '\e80b'; }

/* '' */
.icon-list:before {
  content: '\e80c'; }

/* '' */
.icon-floppy:before {
  content: '\e80d'; }

/* '' */
.icon-cancel:before {
  content: '\e80e'; }

/* '' */
.icon-spin2:before {
  content: '\e831'; }

/* '' */
.icon-link-ext:before {
  content: '\f08e'; }

/* '' */
.icon-check-empty:before {
  content: '\f096'; }

/* '' */
.icon-docs:before {
  content: '\f0c5'; }

/* '' */
.icon-menu:before {
  content: '\f0c9'; }

/* '' */
.icon-list-bullet:before {
  content: '\f0ca'; }

/* '' */
.icon-spinner:before {
  content: '\f110'; }

/* '' */
.icon-link-ext-alt:before {
  content: '\f14c'; }

/* '' */
.icon-sliders:before {
  content: '\f1de'; }

/* '' */
.icon-trash:before {
  content: '\f1f8'; }

/* '' */
* {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  outline: none !important;
  padding: 0; }

body {
  font-size: 13px;
  line-height: 1.2; }

h1 {
  font-family: "Pokemon Solid";
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 3px;
  margin-top: 8px;
  margin-bottom: 16px;
  text-align: center; }

img {
  max-width: 100%; }

.btn {
  background-color: #dc0a2d;
  border: 1px solid #000;
  -webkit-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.72) inset, -1px -1px 3px rgba(10, 10, 10, 0.3) inset;
          box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.72) inset, -1px -1px 3px rgba(10, 10, 10, 0.3) inset;
  color: #fff;
  cursor: pointer;
  padding: 8px; }
  .btn:hover {
    background-color: #eb0b30; }
  .btn:active, .btn.active {
    background-color: #d70a2c;
    -webkit-box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.4) inset, -1px -1px 3px rgba(255, 255, 255, 0.6) inset;
            box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.4) inset, -1px -1px 3px rgba(255, 255, 255, 0.6) inset; }
  .btn.btn--round {
    border-radius: 50%; }
  .btn.btn--icon [class^="icon-"]::before,
  .btn.btn--icon [class*=" icon-"]::before {
    display: inline-block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 14px; }
  .btn.btn--screen {
    background: rgba(10, 10, 10, 0.42);
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-family: "Pokemon GB";
    font-size: 10px;
    padding: 8px 16px; }
    .btn.btn--screen:hover {
      background-color: rgba(10, 10, 10, 0.3); }
    .btn.btn--screen:active, .btn.btn--screen.active {
      background-color: rgba(10, 10, 10, 0.6); }

.btn-group .btn {
  margin-left: 8px; }
  .btn-group .btn:first-child {
    margin-left: 0; }

.wrapper {
  margin: 0 auto;
  padding: 8px;
  width: 100%; }
  @media screen and (min-width: 380px) {
    .wrapper {
      width: 100%; } }
  @media screen and (min-width: 480px) {
    .wrapper {
      width: 100%; } }
  @media screen and (min-width: 600px) {
    .wrapper {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .wrapper {
      width: 720px; } }

.text-center {
  text-align: center; }

.pokedex-wrapper {
  position: relative; }
  .pokedex-wrapper:after {
    content: "";
    background-image: url("../images/eevee.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0px;
    display: block;
    height: 260px;
    left: 24px;
    position: absolute;
    width: 224px;
    z-index: 0;
    -webkit-transition: -webkit-transform 6s ease-in 1s;
    transition: -webkit-transform 6s ease-in 1s;
    -o-transition: transform 6s ease-in 1s;
    transition: transform 6s ease-in 1s;
    transition: transform 6s ease-in 1s, -webkit-transform 6s ease-in 1s;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

#app:not(.loaded) .pokedex-wrapper:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

#app.loaded .pokedex-wrapper:after {
  -webkit-transform: translate3d(0, 140px, 0);
          transform: translate3d(0, 140px, 0); }

.pokedex {
  background-color: #dc0a2d;
  border: 1px solid #000;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.72) inset, -1px -1px 6px rgba(10, 10, 10, 0.3) inset;
          box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.72) inset, -1px -1px 6px rgba(10, 10, 10, 0.3) inset;
  padding: 8px;
  position: relative;
  z-index: 1; }

.pokedex-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px; }

.light-main {
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  padding: 4px;
  height: 38px;
  width: 38px; }
  .light-main .light-main__bulb {
    background-color: #00fefa;
    border: 1px solid #000;
    border-radius: 50%;
    -webkit-box-shadow: 6px 6px 4px rgba(255, 255, 255, 0.72) inset, -4px -4px 4px rgba(10, 10, 10, 0.12) inset;
            box-shadow: 6px 6px 4px rgba(255, 255, 255, 0.72) inset, -4px -4px 4px rgba(10, 10, 10, 0.12) inset;
    height: 28px;
    width: 28px; }

.light-small {
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.72) inset, -1px -1px 6px rgba(10, 10, 10, 0.3) inset;
          box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.72) inset, -1px -1px 6px rgba(10, 10, 10, 0.3) inset;
  display: inline-block;
  height: 16px;
  margin-top: 2px;
  margin-left: 6px;
  vertical-align: top;
  width: 16px; }
  .light-small.light--red {
    background-color: red; }
  .light-small.light--yellow {
    background-color: yellow; }
  .light-small.light--green {
    background-color: lightgreen; }

.pokedex-header__title h1 {
  display: inline-block;
  margin: 0 4px 0 0; }

.pokedex-inlay {
  border: 1px solid #555;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.4) inset, -1px -1px 3px rgba(255, 255, 255, 0.6) inset;
          box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.4) inset, -1px -1px 3px rgba(255, 255, 255, 0.6) inset;
  padding: 16px; }

.pokedex-frame {
  background-color: #b0b0b0;
  border: 1px solid #555;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.72) inset, -1px -1px 6px rgba(10, 10, 10, 0.3) inset;
          box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.72) inset, -1px -1px 6px rgba(10, 10, 10, 0.3) inset;
  padding: 8px; }

.pokedex-frame-actionbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px; }

.pokedex-frame-actionbar__actions {
  text-align: left; }

.pokedex-frame-actionbar__speaker {
  text-align: right;
  width: 40px; }
  .pokedex-frame-actionbar__speaker .pokedex-speaker__hole {
    background: #000;
    -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4), -1px -1px 1px rgba(10, 10, 10, 0.2);
            box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4), -1px -1px 1px rgba(10, 10, 10, 0.2);
    height: 2px;
    margin-bottom: 4px;
    width: 100%; }
    .pokedex-frame-actionbar__speaker .pokedex-speaker__hole:last-child {
      margin-bottom: 0; }

.loading {
  margin-top: 60px;
  text-align: center; }

.loader-dots {
  display: inline-block;
  font-size: 42px;
  position: relative; }
  .loader-dots span {
    -webkit-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease; }

@-webkit-keyframes glow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes glow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .loader-dots span {
    -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
    -webkit-animation-name: glow;
            animation-name: glow;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    display: inline-block;
    width: 22px; }
    .loader-dots span:nth-child(1) {
      -webkit-animation-delay: 0;
              animation-delay: 0; }
    .loader-dots span:nth-child(2) {
      -webkit-animation-delay: 200ms;
              animation-delay: 200ms; }
    .loader-dots span:nth-child(3) {
      -webkit-animation-delay: 400ms;
              animation-delay: 400ms; }

.pokedex-screen {
  background-color: #87ad34;
  border: 1px solid #555;
  -webkit-box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.2) inset, -1px -1px 1px rgba(255, 255, 255, 0.4) inset;
          box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.2) inset, -1px -1px 1px rgba(255, 255, 255, 0.4) inset;
  font-size: 12px;
  min-height: 216px;
  padding: 8px; }
  .pokedex-screen, .pokedex-screen p, .pokedex-screen ul, .pokedex-screen li, .pokedex-screen div, .pokedex-screen span {
    font-family: "Pokemon GB";
    line-height: 1.3; }
  .pokedex-screen img {
    margin-top: 8px;
    margin-bottom: 8px; }

.pokedex-screen-name {
  margin-bottom: 10px;
  text-align: center; }

.pokedex-screen-section {
  margin-right: auto;
  margin-left: auto;
  max-width: 240px; }

.pokedex-screen-subnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 240px; }
  .pokedex-screen-subnav .btn--screen {
    font-size: 10px;
    padding: 4px; }

.pokedex-result-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.pokedex-result-list-error {
  padding: 8px;
  width: 100%; }
  .pokedex-result-list-error > div {
    padding: 8px; }

.pokedex-result-list-item {
  cursor: pointer;
  height: 126px;
  width: 50%; }
  @media screen and (min-width: 480px) {
    .pokedex-result-list-item {
      width: 33.3333%; } }
  @media screen and (min-width: 600px) {
    .pokedex-result-list-item {
      width: 25%; } }
  @media screen and (min-width: 768px) {
    .pokedex-result-list-item {
      width: 20%; } }
  .pokedex-result-list-item:hover {
    background: rgba(10, 10, 10, 0.072); }
  .pokedex-result-list-item .result-item__name {
    font-size: 10px;
    text-align: center; }

.pokedex-result-pagination {
  margin-top: 8px;
  padding: 8px 0 8px 0;
  text-align: center; }

.pokedex-result-pagination-button {
  background: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  position: relative; }
  .pokedex-result-pagination-button:before {
    content: "";
    display: inline-block;
    background: rgba(10, 10, 10, 0.42);
    padding: 4px 6px; }
  .pokedex-result-pagination-button:after {
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    width: 0; }
  .pokedex-result-pagination-button.pokedex-result-pagination-button--next:after {
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(10, 10, 10, 0.42);
    top: 0;
    right: -8px; }
  .pokedex-result-pagination-button.pokedex-result-pagination-button--prev:after {
    border-top: 8px solid transparent;
    border-right: 8px solid rgba(10, 10, 10, 0.42);
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    top: 0;
    left: -8px; }
  .pokedex-result-pagination-button.pokedex-result-pagination-button--next:hover:before {
    background-color: rgba(10, 10, 10, 0.3); }
  .pokedex-result-pagination-button.pokedex-result-pagination-button--next:hover:after {
    border-left-color: rgba(10, 10, 10, 0.3); }
  .pokedex-result-pagination-button.pokedex-result-pagination-button--prev:hover:before {
    background-color: rgba(10, 10, 10, 0.3); }
  .pokedex-result-pagination-button.pokedex-result-pagination-button--prev:hover:after {
    border-right-color: rgba(10, 10, 10, 0.3); }
  .pokedex-result-pagination-button.pokedex-result-pagination-button--next:active:before, .pokedex-result-pagination-button.pokedex-result-pagination-button--next.active:before {
    background-color: rgba(10, 10, 10, 0.6); }
  .pokedex-result-pagination-button.pokedex-result-pagination-button--next:active:after, .pokedex-result-pagination-button.pokedex-result-pagination-button--next.active:after {
    border-left-color: rgba(10, 10, 10, 0.6); }
  .pokedex-result-pagination-button.pokedex-result-pagination-button--prev:active:before, .pokedex-result-pagination-button.pokedex-result-pagination-button--prev.active:before {
    background-color: rgba(10, 10, 10, 0.6); }
  .pokedex-result-pagination-button.pokedex-result-pagination-button--prev:active:after, .pokedex-result-pagination-button.pokedex-result-pagination-button--prev.active:after {
    border-right-color: rgba(10, 10, 10, 0.6); }

.pokedex-info-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 4px;
  text-align-last: left; }
  .pokedex-info-line.pokedex-info-line--block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .pokedex-info-line .pokedex-info-line__property {
    padding-right: 4px; }
  .pokedex-info-line .pokedex-info-line__value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .pokedex-info-line.pokedex-info-line--block .pokedex-info-line__value {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .pokedex-info-line .pokedex-info-ability {
    margin-left: 16px; }
  .pokedex-info-line .pokedex-info-type {
    border: 1px solid #000;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4) inset, -1px -1px 1px rgba(10, 10, 10, 0.2) inset;
            box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4) inset, -1px -1px 1px rgba(10, 10, 10, 0.2) inset;
    font-size: 9px;
    letter-spacing: -1px;
    line-height: 1em;
    margin: -3px 2px 0 2px;
    padding: 4px 4px 2px 4px;
    vertical-align: middle; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--normal {
      background-color: #A8A878; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--fighting {
      background-color: #C03028; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--fire {
      background-color: #F08030; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--water {
      background-color: #6890F0; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--flying {
      background-color: #A890F0; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--grass {
      background-color: #78C850; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--poison {
      background-color: #A040A0; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--electric {
      background-color: #F8D030; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--ground {
      background-color: #E0C068; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--psychic {
      background-color: #F85888; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--rock {
      background-color: #B8A038; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--ice {
      background-color: #98D8D8; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--bug {
      background-color: #A8B820; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--dragon {
      background-color: #7038F8; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--ghost {
      background-color: #705898; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--dark {
      background-color: #705848; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--steel {
      background-color: #B8B8D0; }
    .pokedex-info-line .pokedex-info-type.pokedex-info-type--fairy {
      background-color: #EE99AC; }

.pokedex-info-stat {
  margin-bottom: 8px; }

.pokedex-info-stat__value {
  position: relative;
  padding: 2px 4px;
  border: 1px solid rgba(10, 10, 10, 0.12); }
  .pokedex-info-stat__value span {
    position: relative;
    top: 2px;
    z-index: 1; }

.pokedex-info-stat__value-bar {
  background: rgba(10, 10, 10, 0.12);
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 0; }
