* {
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 100%;
    margin: 0;
    outline: none !important;
    padding: 0;
}

body {
    font-size: 13px;
    line-height: 1.2;
}

h1 {
    font-family: "Pokemon Solid";
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 3px;
    margin-top: $padding;
    margin-bottom: $padding * 2;
    text-align: center;
}

img {
    max-width: 100%;
}

.btn {
    background-color: $pokedex-background-color;
    border: $outline;
    box-shadow: $threed-box-shadow-light;
    color: #fff;
    cursor: pointer;
    padding: $padding;

    &:hover {
        background-color: lighten($pokedex-background-color, 3%);
    }

    &:active, &.active {
        background-color: darken($pokedex-background-color, 1%);
        box-shadow: $threed-box-shadow-inlay;
    }

    &.btn--round {
        border-radius: 50%;
    }

    &.btn--icon {
        [class^="icon-"]::before,
        [class*=" icon-"]::before {
            display: inline-block;
            font-size: 12px;
            height: 14px;
            line-height: 14px;
            margin: 0;
            text-align: center;
            vertical-align: middle;
            width: 14px;
        }
    }

    &.btn--screen {
        background: $pokedex-screen-button-background-color;
        border: none;
        border-radius: 2px;
        box-shadow: none;
        font-family: "Pokemon GB";
        font-size: 10px;
        padding: $padding $padding * 2;

        &:hover {
            background-color: $pokedex-screen-button-background-color-hover;
        }

        &:active, &.active {
            background-color: $pokedex-screen-button-background-color-active;
        }
    }
}

.btn-group .btn {
    margin-left: 8px;

    &:first-child {
        margin-left: 0;
    }
}

.wrapper {
    margin: 0 auto;
    padding: $padding;
    width: $wrapper-xxs-width;

    @media screen and (min-width: $bp-xxs) {
        width: $wrapper-xs-width;
    }
    @media screen and (min-width: $bp-xs) {
        width: $wrapper-sm-width;
    }
    @media screen and (min-width: $bp-sm) {
        width: $wrapper-md-width;
    }
    @media screen and (min-width: $bp-md) {
        width: $wrapper-lg-width;
    }
}

.text-center {
    text-align: center;
}