@font-face {
    font-family: 'Pokemon Solid';
    src: url('../fonts/Pokemon Solid.ttf');
    src: url('../fonts/Pokemon Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pokemon GB';
    src: url('../fonts/Pokemon GB.ttf');
    src: url('../fonts/Pokemon GB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'getgif';
    src: url('../fonts/getgif.eot?32106145');
    src: url('../fonts/getgif.eot?32106145#iefix') format('embedded-opentype'),
         url('../fonts/getgif.woff2?32106145') format('woff2'),
         url('../fonts/getgif.woff?32106145') format('woff'),
         url('../fonts/getgif.ttf?32106145') format('truetype'),
         url('../fonts/getgif.svg?32106145#getgif') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'getgif';
      src: url('../fonts/getgif.svg?32106145#getgif') format('svg');
    }
  }
  */

   [class^="icon-"]:before, [class*=" icon-"]:before,
   .icon-search:before,
  .icon-heart:before,
  .icon-heart-empty:before,
  .icon-star:before,
  .icon-star-empty:before,
  .icon-check:before,
  .icon-link:before,
  .icon-attention:before,
  .icon-attention-circled:before,
  .icon-trash-empty:before,
  .icon-cog:before,
  .icon-cog-alt:before,
  .icon-list:before,
  .icon-floppy:before,
  .icon-cancel:before,
  .icon-spin2:before,
  .icon-link-ext:before,
  .icon-check-empty:before,
  .icon-docs:before,
  .icon-menu:before,
  .icon-list-bullet:before,
  .icon-spinner:before,
  .icon-link-ext-alt:before,
  .icon-sliders:before,
  .icon-trash:before {
    font-family: "getgif";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .icon-search:before { content: '\e800'; } /* '' */
  .icon-heart:before { content: '\e801'; } /* '' */
  .icon-heart-empty:before { content: '\e802'; } /* '' */
  .icon-star:before { content: '\e803'; } /* '' */
  .icon-star-empty:before { content: '\e804'; } /* '' */
  .icon-check:before { content: '\e805'; } /* '' */
  .icon-link:before { content: '\e806'; } /* '' */
  .icon-attention:before { content: '\e807'; } /* '' */
  .icon-attention-circled:before { content: '\e808'; } /* '' */
  .icon-trash-empty:before { content: '\e809'; } /* '' */
  .icon-cog:before { content: '\e80a'; } /* '' */
  .icon-cog-alt:before { content: '\e80b'; } /* '' */
  .icon-list:before { content: '\e80c'; } /* '' */
  .icon-floppy:before { content: '\e80d'; } /* '' */
  .icon-cancel:before { content: '\e80e'; } /* '' */
  .icon-spin2:before { content: '\e831'; } /* '' */
  .icon-link-ext:before { content: '\f08e'; } /* '' */
  .icon-check-empty:before { content: '\f096'; } /* '' */
  .icon-docs:before { content: '\f0c5'; } /* '' */
  .icon-menu:before { content: '\f0c9'; } /* '' */
  .icon-list-bullet:before { content: '\f0ca'; } /* '' */
  .icon-spinner:before { content: '\f110'; } /* '' */
  .icon-link-ext-alt:before { content: '\f14c'; } /* '' */
  .icon-sliders:before { content: '\f1de'; } /* '' */
  .icon-trash:before { content: '\f1f8'; } /* '' */