// Base
$border-radius: 6px;
$font-size: 13px;
$font-size-mini: 11px;
$padding: 8px;
$spacing: 4px;

// Breakpoints
$bp-xxs: 380px;
$bp-xs: 480px;
$bp-sm: 600px;
$bp-md: 768px;
$bp-lg: 992px;

$wrapper-xxs-width: 100%;
$wrapper-xs-width: 100%;
$wrapper-sm-width: 100%;
$wrapper-md-width: 100%;
$wrapper-lg-width: 720px;

$screen-width: 240px;

// Colors
$outline-color: #000;
$outline-color-light: #555;

$lcd-background-color: #87ad34;

// Borders
$outline: 1px solid $outline-color;
$outline-light: 1px solid $outline-color-light;

// Shadows
$threed-box-shadow: 1px 1px $border-radius rgba(255, 255, 255, 0.72) inset, -1px -1px $border-radius rgba(10, 10, 10, 0.3) inset;
$threed-box-shadow-light: 1px 1px $border-radius / 2 rgba(255, 255, 255, 0.72) inset, -1px -1px $border-radius / 2 rgba(10, 10, 10, 0.3) inset;
$threed-box-shadow-inlay: 1px 1px $border-radius / 2 rgba(10, 10, 10, 0.4) inset, -1px -1px $border-radius / 2 rgba(255, 255, 255, 0.6) inset;
$threed-box-shadow-inlay-light: 1px 1px $border-radius rgba(10, 10, 10, 0.4) inset, -1px -1px $border-radius rgba(255, 255, 255, 0.6) inset;

//$threed-box-shadow-mini: 1px 1px 1px rgba(10, 10, 10, 0.2) inset, -1px -1px 1px rgba(255, 255, 255, 0.4) inset;
$threed-box-shadow-mini: 1px 1px 1px rgba(255, 255, 255, 0.4) inset, -1px -1px 1px rgba(10, 10, 10, 0.2) inset;
$threed-box-shadow-mini-inlay: 1px 1px 1px rgba(10, 10, 10, 0.2) inset, -1px -1px 1px rgba(255, 255, 255, 0.4) inset;

$threed-box-shadow-outer-mini: 1px 1px 1px rgba(255, 255, 255, 0.4), -1px -1px 1px rgba(10, 10, 10, 0.2);

// Pokedex
$pokedex-background-color: #dc0a2d;
$pokedex-shade-background-color: #a8000c;
$pokedex-outline-color: $outline-color;
$pokedex-frame-background-color: #b0b0b0;
$pokedex-frame-shade-background-color: #656565;

$pokedex-screen-background-color: $lcd-background-color;

$pokedex-screen-button-background-color: rgba(10, 10, 10, 0.42);
$pokedex-screen-button-background-color-hover: rgba(10, 10, 10, 0.3);
$pokedex-screen-button-background-color-active: rgba(10, 10, 10, 0.6);